body{
  background-color: #FFFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
  text-align: center;
  position: sticky;
}

header ul {
    font-size: large;
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-right: 25px;
  }
  
header ul li {
  padding: 10px 20px;
  }

.personallogo{
  margin-left: 25px;
}
.personalphoto{
    border-radius: 50%;
    max-width: 20%;
    height: auto;
}

.homepagecontentintro{
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 50px;
  font-weight: bold;
}

.homepagecontentmain{
  text-align: center;
  font-size: 25px;
  margin-left: 25px;
}

#contactme {
  font-weight: bold;
  text-decoration: underline;
}

.aboutmecontent{
  text-align: center;
}

.aboutmecontent ul{
  display: inline-block;
}

.aboutmecontent ul li{
  text-align: left;
  margin-bottom: 20px;
  font-size: 18px;
}

#aboutmetitles{
  font-size: 40px;
  font-weight: bold;
}

.personalphoto2{
  max-width: 25%;
  height: auto;
}

.hellotheresection{
  display: flex;
  margin-left: 250px;
  gap: 20px;
}

.affinitydiagram{
  max-width: 45%;
  height: auto;
}

.experiencesection{
  margin-left: 50px;
}

.basketballphoto{
  max-width: 15%;
  height: auto;
}

.sportssection{
  display: flex;
  margin-left: 245px;
  gap: 20px;
}

.hockeyphoto{
  max-width: 25%;
  height: auto;
}

.travelsection{
  margin-left: 115px;
}

.travelimages{
  display: flex;
  flex-direction: row;
  max-width: 25%;
  gap: 150px;
  height: 200px;
  margin-left: 260px;
  margin-bottom: 15px;
}

.resume{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.userresearchprojects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.projecttitlesmain{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.specificprojects{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.viewbutton{
  width: 60%;
  height: auto;
}
.previews{
  width: 35%;
  height: auto;
  margin-bottom: 50px;
  border-style: solid;
}

.buttons{
  max-width: 75%;
}
 